/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #b8c1ec;
  background: #232946;
}

h1,
h2,
h3 {
  color: #eebbc3;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #fffffe;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.col {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* TEXT */
.text-center {
  text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.site-header {
  margin-top: 3rem;
}

/* LESSONS SECTION */
.lessons .col {
  width: 50%;
}

.lessons .col img {
  height: 200px;
  margin-bottom: 1rem;
}

/* STEPS SECTION */
.steps {
  margin: 3rem 0;
  padding: 3rem 0;
  color: #232946;
  background: #eebbc3;
}

.steps h2,
.steps h3 {
  color: #232946;
}

.steps .col {
  width: calc(100% / 3);
}

.steps .col img {
  height: 200px;
  margin-bottom: 1rem;
}

/* WHY US SECTION */
.why-us {
  margin-bottom: 3rem;
}
.why-us .col-left {
  width: 40%;
}

.why-us .col-right {
  width: 60%;
}

.why-us li {
  list-style: none;
  margin-bottom: 2.5rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/
  
 /* versione tablet */

/* regola da 768px in giù*/

@media screen and (max-width: 768px) {

.site-header{
     text-align: center;
     margin-bottom: 3rem;
     font-size: 2.5rem;
}

.container{
    display: inline;
    width: 50%;
    margin: 15px 50px;
}
.lessons .container  .col{
    padding-left: 30px;
    padding-right: 30px;
   }

   .steps .container  .col{
    padding-left: 30px;
    padding-right: 30px;
   }

   .why-us .container .row {
    padding-left:  30px;
    padding-right:  30px;
   }
}


     /* versione mobile */

 /* regola da 480px in giù */
 @media screen and (max-width: 480px){
   .row{
    display: block;
   }
   .row > .col{
    width: 100%;
   }

   .lessons .container  .col{
    padding-left: 30px;
    padding-right: 30px;
   }
   .lessons .container  .col{
    margin-top: 80px;
    margin-bottom: 80px;
   }


   .steps .container  .col{
    padding-left: 30px;
    padding-right: 30px;
   }
   .steps .container  .col{
    margin-top: 80px;
    margin-bottom: 80px;
   }

   .why-us .container .col{
    padding-left: 30px;
    padding-right: 30px;
   }
   .why-us .container .col{
    margin-top: 80px;
    margin-bottom: 80px;
   }
}
 