/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #b8c1ec;
  background: #232946;
}

h1,
h2,
h3 {
  color: #eebbc3;
}

h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  color: #fffffe;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.col {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* TEXT */
.text-center {
  text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.site-header {
  margin-top: 3rem;
}

/* LESSONS SECTION */
.lessons .col {
  width: 50%;
}

.lessons .col img {
  height: 200px;
  margin-bottom: 1rem;
}

/* STEPS SECTION */
.steps {
  margin: 3rem 0;
  padding: 3rem 0;
  color: #232946;
  background: #eebbc3;
}

.steps h2,
.steps h3 {
  color: #232946;
}

.steps .col {
  width: calc(100% / 3);
}

.steps .col img {
  height: 200px;
  margin-bottom: 1rem;
}

/* WHY US SECTION */
.why-us {
  margin-bottom: 3rem;
}
.why-us .col-left {
  width: 40%;
}

.why-us .col-right {
  width: 60%;
}

.why-us li {
  list-style: none;
  margin-bottom: 2.5rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/
  
 /* versione tablet */

/* regola da 768px in giù*/

@media screen and (max-width: 768px) {

.site-header{
     text-align: center;
     margin-bottom: 0;
     font-size: 2.5rem;
}

.lessons .container{
    min-width: 100%;
    margin: 15px 50px;
}
.lessons .container h2{
  text-align: left;
  padding-left: 160px;
}
.lessons .container .row{
  display: flex;
  width: calc(100% / 2);
  padding-left: 50px;
}
.lessons .container  .col{
    padding-left: 30px;
    padding-right: 30px;
}

.steps h2{
  text-align: left;
  padding-left: 240px;
}

.steps .container  .col{
    padding-left: 10px;
    padding-right: 10px;
    min-width: 65%;
    flex-wrap: wrap;
   }
   .steps .container .row{
    display: flex;
    width: calc(100% / 3);
   }

 .why-us .container h2{
  text-align: left;
  padding-left: 190px;
 }

  .why-us .container{
    padding: 30px 0;
  }

  .why-us .container .row {
    display: flex;
    width: calc(100% / 2);
    margin-left: 40px;
   }

   .why-us .container .col{
    min-width: 50%;
    flex-wrap: wrap;
   }
   
}


     /* versione mobile */

 /* regola da 480px in giù */
 @media screen and (max-width: 480px){
  html{
    overflow-x: hidden;
  }
  body{
    width: 100%;
    
  }

  .site-header .text-center{
    text-align: center;
  }

  .lessons .container{
    width: 100%;
    margin: 0;
  }
  .lessons .container h2{
    padding-left: 70px;
  }

  .lessons .container .row {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  .lessons .container .col{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .steps{
    margin: 0;
  }
  .steps .text-center{
    margin: 0;
  }
  .steps .container{
    width: 100%;
    margin: 0;
  }
  .steps .container h2{
    padding-left: 120px;
  }
  .steps .container .row {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
.steps .container .col{
  width: 100%;
  margin-top: 50px;
}
.why-us{
  background-color: black;
}
.why-us{
  margin-bottom: 0;
  margin-top: 0;
}
.why-us .container{
  width: 100%;
  margin: 0;
}
.why-us .container h2{
  padding-left: 140px;
  text-align: left;
}
.why-us .container .row {
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
.why-us .container .col{
  width: 85%;
  margin-top: 50px;
}
  }
 